*{
    margin : 0px;
    padding : 0px;
}
.count{
    margin-top : 100px;
}
.increase,.decrease,.reset{
    font-size : 25px;
    font-weight : 200px;
    padding : 5px 15px;
    margin : 0px;
}
button{
    border-style: solid;
    border-radius: 3px;
}
button:hover{
    background-color: rgb(219, 219, 219);
}